if session.username==null
  include header1
else 
  include header2
br
br
br
br
br
.profileHeader
    .details
        img.profile-pic(src='/images/dp/#{session.username}.jpg', alt='#{session.username}')
        h1.heading #{session.fullname}
        .location
            p #{session.username}
        br
        .stats
            .col-4
                h4 #{orders}
                p Orders
            .col-4
                h4 #{appointments_completed}
                p Completed Appointments
            .col-4
                h4 #{appointments_pending}
                p Pending Appointments
        .stats
            .col-4
            .col-4
                button.app_form_button.text-center(data-toggle='modal' data-target='#passwordModal') Change Password

include scripts
include password-modal